@font-face{
	font-family: 'Raleway-Medium';
	src:url('Raleway-Medium.ttf') format('truetype');
}

@-webkit-keyframes rotate {
  0% {
        -webkit-transform: rotate(-15deg);
    }

    50% {
        -webkit-transform: rotate(15deg);
    }

    100% {
        -webkit-transform: rotate(-15deg);
    }
}

@-moz-keyframes rotate {
  0% {
        -moz-transform: rotate(-10deg);
    }

    50% {
        -moz-transform: rotate(10deg);
    }

    100% {
        -moz-transform: rotate(-10deg);
    }
}

html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  float: left;
  font-family: "Raleway-Medium";
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.title {
  display: block;
  position: absolute;
  top: 20px;
  width: 100%;
  text-align: center;
  z-index: 100;
  left: 0;
}

h1 {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 10%;
}

.start {
  display: block;
  position: absolute;
  top: 800px;
  width: 100%;
  text-align: center;
  z-index: 100;
  left: 0;
}

h2 {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 10%;
    color:red;
    font-size: 2em;
}

.visuel {
  display: block;
  float: left;
  width: 80%;
  box-shadow: 10px 0px 100px black;
}

.tete {
  position: absolute;
  top: 35%;
  left: 36.66%;
  display: block;
  width: 12.5%;
}

.hover:hover {
      -webkit-transform-origin:50% 100%;
      -webkit-animation: rotate 5s infinite ease-in-out;
      -moz-transform-origin:50% 100%;
      -moz-animation: rotate 5s infinite ease-in-out;
}

